/*--------list--------*/
header {
  background-color: rgb(0, 0, 0);
  text-align: center;
  position: fixed;
  z-index: 10;
  width: 100%;
}
header .logo {
  margin: 10px;
  font-size: 35px;
  font-weight: 650;
  position: relative;
  color: orange;
  line-height: 1em;
  text-transform: uppercase;
  transition: 1s;
  cursor: default;
}

/*0 4 65*/
/*142,50,164*/
nav {
  background-color: rgb(0, 0, 0);
  position: absolute;
  text-align: left;
  top: 80%;
  left: 0;
  width: 100%;
}

nav ul {
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 1s;
}
nav li {
  padding: 1em 1em;
  margin: 0px 30px;
}
nav a {
  padding: 4px 8px;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  text-transform: uppercase;
  transition: 0.5s ease;
}

nav a:hover {
  font-weight: 370;
  color: rgb(234, 177, 87);
}

@media screen and (max-width: 940px) {
  nav ul li{
    margin-left:10px;
    margin-right:10px;
  }
  nav{
    width:100%;
  }
}
@media screen and (max-width: 700px) {
  nav ul li{
    margin-left:8px;
    margin-right:8px;
    font-size: 0.8em;
    margin-top:6px;
    margin-bottom:6px;
    
  }
  nav li{
    padding:0.6em 0.6em;
  }
  nav{
    width:100%;
  }
}
@media screen and (max-width: 470px) {
  nav ul li{
    margin-left:5px;
    margin-right:5px;
    font-size: 0.8em;
    margin-top:7px;
    margin-bottom:7px;
  }
  nav li{
    padding:0.4em 0.4em;
  }
  nav{
    width:100%;
  }
}
/*----------main------------*/
body,
html {
  scroll-behavior: smooth;
  min-width:355px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:355px; 
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
body::-webkit-scrollbar{
  width:0.7rem;
}
body::-webkit-scrollbar-track{
  background:rgba(0,0,0,0.8);
}
body::-webkit-scrollbar-thumb{
  background: rgb(234, 177, 87);
  border-radius:30px;
}
/*----------Parallax backg imga----------*/
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.94;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://images.unsplash.com/photo-1511920170033-f8396924c348?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1 ");
  min-height: 500px;
}

.bgimg-3 {
  background-image: url("https://images.unsplash.com/photo-1552566626-52f8b828add9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1");
  min-height: 500px;
}

/*----------legend 'fieldset'------------*/
.leg {
  margin-top: -31px;
  margin-left: 10px;
  color: black;
  font-weight: 500;
  font-size: 3.4em;
  padding: 0px 10px;
  font-family: "Shadows Into Light", cursive;
}


/*----------paragraph inside 'fieldset'------------*/
.par {
  color: grey;
  font-size: 19px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}
.field_set {
  border-radius: 5px;
  border-color: rgba(234, 177, 87, 1);
}

.caption {
  
  position: absolute;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: #000;
}

/*----------'welcome to'------------*/
.caption span.border {
  position: relative;
  top: 300px;
  background-color: rgb(255, 255, 255);
  font-family: "Righteous", cursive;
  opacity: 1;
  color: rgb(0, 0, 0);
  padding: 12px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 7px;
}

/*----------'aroma cafe'------------*/
.caption span.border1 {
  position: relative;
  top: 291px;
  background-color: rgba(0, 0, 0, 1);
  opacity: 1;
  color: #fff;
  padding: 12px;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 6px;
  transition: 0.5s;
}
.caption span.border1:hover {
  color: rgba(234, 177, 87);
  cursor: default;
}
.caption span.list {
  position: relative;
  text-shadow: 2px 2px 3px black;
  top: 200px;
  
  font-family: "Righteous", cursive;
  opacity: 1;
  color: rgb(0, 0, 0);
  padding: 12px;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 7px;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 23px "Lato", sans-serif;
  color: #111;
}
#menu
{
  background-image:url(https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2hpdGUlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-position: center;
  background-size: cover;
}

/*----------contact heading------------*/
.contact {
  color: white;
  background: black;
  text-align: center;
  padding: 30px 80px;
  text-align: justify;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}
